<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">Chat</h4>
    </div>
  </div>
</div>

<div *ngIf="isInitialized && !showError" class="row">
  <!-- start chat users-->
  <div class="col-xl-4 order-xl-1">
    <div class="card">
      <div class="card-body pb-0">
        <div class="dropdown float-end">
          <a
            href="#"
            class="dropdown-toggle arrow-none card-drop"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="mdi mdi-dots-horizontal"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <!-- item-->
            <a
              href="javascript:void(0);"
              (click)="sendComandos(1)"
              class="dropdown-item"
              >Recibir Solicitudes</a
            >
            <a
              href="javascript:void(0);"
              (click)="sendComandos(2)"
              class="dropdown-item"
              >No Recbir Solicitudes</a
            >

            <a
              href="javascript:void(0);"
              (click)="sendComandos(3)"
              class="dropdown-item"
              >Consultar Solicitudes</a
            >
            <a
              href="javascript:void(0);"
              (click)="closeChat()"
              class="dropdown-item"
              >Desconectar</a
            >
          </div>
        </div>

        <h4 class="header-title mb-3">Solicitudes</h4>
        <div *ngIf="solicitudes?.length === 0">No hay solicitudes</div>
        <div
          class="inbox-widget container-scroll"
          (scroll)="doSomethingOnScroll($event)"
          #scrollMessages
          style="height: 70vh"
        >
          <div *ngFor="let solicitud of solicitudes">
            <div class="inbox-item" (click)="selectChat(solicitud)">
              <div class="inbox-item-img">
                <div
                  class="circle"
                  [ngStyle]="{ 'background-color': solicitud?.color }"
                >
                  <div class="initials">
                    {{ initialsName(solicitud?.name) }}
                  </div>
                </div>
              </div>
              <p class="inbox-item-author">
                {{ solicitud?.content?.subtitle.split("-")[1] }}
              </p>
              <p class="inbox-item-text">
                {{ solicitud?.timestamp | timeAgo }}
              </p>

              <p
                *ngIf="!solicitud?.accept"
                class="inbox-item-date"
              >
                <button
                  type="button"
                  (click)="reaccionarSolicitud(true, solicitud)"
                  class="btn btn-sm btn-outline-primary px-1 py-0"
                >
                  <i class="uil uil-check font-16"></i>
                </button>
                <button
                  type="button"
                  (click)="reaccionarSolicitud(false, solicitud)"
                  class="btn btn-sm btn-outline-danger px-1 py-0 mx-1"
                >
                  <i class="uil uil-times font-16"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
        <!-- end inbox-widget -->
      </div>
      <!-- end card-body -->
    </div>

    <!-- end card-->
  </div>
  <!-- end chat users-->

  <!-- chat area -->
  <div class="col-xl-8 order-xl-2">
    <div class="card">
      <div class="card-header" style="background-color: #dd3333">
        <div class="dropdown float-end" style="height: 15px">
          <a
            (click)="finalizarChat()"
            class="social-list-item border-white text-white"
            style="display: flex; cursor: pointer; justify-content: center"
            ><i class="uil uil-multiply"></i
          ></a>
        </div>
        <h2 class="header-title text-white mt-1">
          {{ chatActual?.name || botName }}
        </h2>
      </div>
      <div class="card-body">
        <div class="container-scroll" #scrollChat style="height: 60vh">
          <div class="conversation-list">
            <div
              *ngFor="let activity of activities"
              [ngClass]="
                activity.from.id === usuario!.id ? 'clearfix odd' : 'clearfix'
              "
            >
              <br />
              <div class="chat-avatar">
                <div *ngIf="activity.from.id === usuario!.id">
                  <div *ngIf="usuario?.foto">
                    <img
                      [src]="usuario?.foto"
                      [alt]="usuario?.nombres"
                      class="circleHeader"
                    />
                  </div>
                  <div
                    *ngIf="!usuario?.foto"
                    class="circle"
                    [ngStyle]="{
                      'background-color':
                        activity.from.id === usuario!.id
                          ? '#0DA1E6'
                          : activity?.color
                    }"
                  >
                    <div class="initials">
                      {{
                        initialsName(
                          activity.from.id === usuario!.id
                            ? usuario?.nombre_completo
                            : activity.from?.name || botName
                        )
                      }}
                    </div>
                  </div>
                </div>
                <div *ngIf="activity.from.id !== usuario!.id">
                  <div
                    *ngIf="usuarioChat && activity.from.id == usuarioChat?.id"
                  >
                    <div *ngIf="usuarioChat?.foto">
                      <img
                        [src]="usuarioChat.foto"
                        [alt]="usuarioChat.nombres"
                        class="circleHeader"
                      />
                    </div>

                    <div
                      *ngIf="!usuarioChat?.foto"
                      class="circle"
                      [ngStyle]="{
                        'background-color': '#dd3333'
                      }"
                    >
                      <div class="initials">
                        {{ initialsName(usuarioChat.nombre_completo!) }}
                      </div>
                    </div>
                  </div>
                  <div *ngIf="bot && activity.from.id != usuarioChat?.id">
                    <div *ngIf="bot?.foto">
                      <img
                        [src]="bot.foto"
                        [alt]="bot.nombres"
                        class="circleHeader"
                      />
                    </div>

                    <div
                      *ngIf="!bot?.foto"
                      class="circle"
                      [ngStyle]="{
                        'background-color': '#dd3333'
                      }"
                    >
                      <div class="initials">
                        {{ initialsName(botName) }}
                      </div>
                    </div>
                  </div>
                </div>

                <i>{{localDate(activity.timestamp) | date : " HH:mm"  }}</i>
              </div>

              <div class="conversation-text">
                <div class="ctext-wrap chat-widgets-cn">
                  <i>{{
                    activity.from.id === usuario!.id
                      ? usuario?.nombre_completo
                      : activity.from.name || chatActual?.name
                  }}</i>
                  <p>{{ activity.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <form
          [formGroup]="mensageForm"
          (ngSubmit)="guardarMessage()"
          class="needs-validation"
          novalidate=""
          name="chat-form"
          id="chat-form"
        >
          <div class="row">
            <div class="col">
              <input
                type="text"
                class="form-control chat-input"
                #txtmessage
                placeholder="Mensaje ..."
                formControlName="message"
              />
            </div>
            <div class="col-auto d-grid">
              <button
                type="submit"
                [disabled]="mensageForm.invalid"
                class="btn btn-info chat-send waves-effect waves-light"
              >
                <i class="uil uil-message"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end chat area-->

  <!-- end user detail -->
</div>

<div *ngIf="!isInitialized" class="row justify-content-center">
  <div class="col-xxl-10">
    <!-- Pricing Title-->
    <div class="text-center">
      <h3 class="mb-2">BiblioChat UTN</h3>
      <p *ngIf="!showError" class="text-muted w-50 m-auto">
        Este servicio esta disponible para brindar servicio de soporte a
        usuarios de la comunidad universitaria UTN.
      </p>
      <div *ngIf="showError" class="d-block">
        <i class="mdi mdi-image-broken-variant mdi-48px"></i>
        <p class="text-muted w-50 m-auto">
          {{ errorMessage }}
        </p>
      </div>

      <button
        type="button"
        (click)="startWorkChat()"
        class="btn btn-info mt-4"
        [disabled]="loadingStartChat"
      >
        <i
          [class]="
            loadingStartChat
              ? 'mdi mdi-refresh mdi-spin me-2'
              : 'mdi mdi-chat-processing-outline mdi-18px me-2'
          "
        ></i>

        <span>
          {{ loadingStartChat ? "Conectando" : "Conectar" }}
        </span>
      </button>
    </div>
  </div>
  <!-- end col-->
</div>
<!-- end row-->
