<!-- <input type="checkbox" id="click">
<label for="click">
    <i class="fab fa-facebook-messenger"></i>
    <i class="fas fa-times"></i>
</label>
<div class="wrapper">
    <div class="head-text">
        Let's chat? - Online</div>
    <div class="chat-box">

    </div>
    <iframe
                    src='https://webchat.botframework.com/embed/boprueba?s=p61JrISeBu4.aYnkBZXV2nnXFheb9e4gzIsym9mxh_AFHmxh-kVOAO4'
                    style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
</div> -->


<button (click)="senMessage()" >Enviar</button>
<input type="text" id="mensaje2" #mensaje2>