<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topbar-menu float-end mb-0">
    <li class="dropdown notification-list d-lg-none">
      <a
        class="nav-link dropdown-toggle arrow-none mt-2"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <i class="mdi mdi-account-tie-voice  mdi-24px"></i>
        <!-- mdi mdi-account-tie-voice -->
      </a>
      <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
        <div class="dropdown-header noti-title">
          <h5 class="text-overflow mb-2">
            <span class="text-danger">{{ usuariosOnline.length }}</span>
            Operadores en linea
            <a (click)="refrescar()">
              <small class="float-end">
                <i class="mdi mdi-refresh mdi-24px"></i></small
            ></a>
          </h5>
        </div>
        <div class="notification-list">
          <a
            *ngFor="let user of usuariosOnline"
            class="dropdown-item notify-item"
          >
            <div class="notify-icon bg-primary">
              <i class="mdi mdi-comment-account-outline"></i>
            </div>
            <p class="notify-details">
              {{ user.nombre_completo }}
              <small class="text-muted">{{
                user.conectedAt | date : "dd/MM/yyyy hh:mm a"
              }}</small>
            </p>
          </a>
          <!-- All-->
        </div>
      </div>
    </li>

    <li class="dropdown notification-list">
      <a
        class="nav-link dropdown-toggle nav-user arrow-none me-0"
        data-bs-toggle="dropdown"
        href="#"
        role="button"
        aria-haspopup="false"
        aria-expanded="false"
      >
        <span class="account-user-avatar">
          <div
            class="circleHeader"
            [ngStyle]="{ 'background-color': '#0DA1E6' }"
          >
            <div class="initialsHeader">
              {{ initialsName(usuario.nombre_completo!) }}
            </div>
          </div>
        </span>

        <span>
          <span class="account-user-name">{{ usuario.nombre_completo }}</span>
          <span class="account-position">{{ usuario.rol }}</span>
        </span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
      >
        <!-- item-->
        <a routerLink="/dashboard/perfil" class="dropdown-item notify-item">
          <i class="mdi mdi-account-circle me-1"></i>
          <span>Perfil</span>
        </a>

        <!-- item-->
        <a class="dropdown-item notify-item" (click)="logout()">
          <i class="mdi mdi-logout me-1"></i>
          <span>Salir</span>
        </a>
      </div>
    </li>
  </ul>
  <button class="button-menu-mobile open-left">
    <i class="mdi mdi-menu"></i>
  </button>

  <div
    *ngIf="mostrarUsuariosEnLinea"
    class="app-search dropdown d-none d-lg-block"
  >
    <form>
      <div class="input-group">
        <span class="mdi mdi-account-tie-voice search-icon"></span>
        <input
          type="submit"
          class="form-control dropdown-toggle"
          value="Operadores en línea"
          id="top-search"
        />
        <div class="input-group-text btn-success ">
          {{ usuariosOnline.length }}
        </div>
      </div>
    </form>

    <div
      class="dropdown-menu dropdown-menu-animated dropdown-lg"
      id="search-dropdown"
    >
      <!-- item-->
      <div class="dropdown-header noti-title">
        <h5 class="text-overflow mb-2">
          <span class="text-danger">{{ usuariosOnline.length }}</span>
          Operadores en linea
          <a (click)="refrescar()">
            <small class="float-end">
              <i class="mdi mdi-refresh mdi-24px"></i></small
          ></a>
        </h5>
      </div>

      <div class="notification-list">
        <a
          *ngFor="let user of usuariosOnline"
          class="dropdown-item notify-item"
        >
          <div class="notify-icon bg-primary">
            <i class="mdi mdi-comment-account-outline"></i>
          </div>
          <p class="notify-details">
            {{ user.nombre_completo }}
            <small class="text-muted">{{
              user.conectedAt | date : "dd/MM/yyyy hh:mm a"
            }}</small>
          </p>
        </a>
        <!-- All-->
      </div>
    </div>
  </div>
</div>
<!-- end Topbar -->
