.circleChange {
  border-radius   : 50%;
  width           : 70px;
  height          : 70px;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.initialsChange {
      color         : #FFFFFF;
      font-size     : 25px;
      line-height   : 19px;
      letter-spacing: 0.2625px;
}
