<div *ngIf="!sendReset" class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-6">
        <div class="card">
          <!-- Logo -->
          <div class="card-header pt-4 pb-4 text-center">
            <span
              ><img src="assets/images/logo-dark.png" alt="" height="100"
            /></span>
          </div>

          <div class="card-body p-4">
            <div class="text-center w-75 m-auto">
              <h4 class="text-dark-50 text-center mt-0 fw-bold">
                Restablecer la contraseña
              </h4>
              <p class="text-muted mb-4">
                Ingrese su dirección de correo electrónico y le enviaremos un
                correo electrónico con instrucciones para restablecer su
                contraseña.
              </p>
            </div>

            <form
              [formGroup]="resetForm"
              autocomplete="off"
              (ngSubmit)="resetearContrasenia()"
            >
              <div class="mb-3">
                <input
                  class="form-control"
                  type="email"
                  id="emailaddress"
                  placeholder="Introduce tu correo"
                  formControlName="correo"
                  [class.is-invalid]="correoNoValido"
                />
                <small *ngIf="correoNoValido" class="form-text text-danger"
                  >Ingrese un correo valido</small
                >
              </div>

              <div class="mb-0 text-center">
                <button
                  class="btn btn-primary btn-lg"
                  [disabled]="resetForm.invalid || loading"
                  type="submit"
                >
                  <i
                    [class]="
                      loading
                        ? 'mdi mdi-refresh mdi-spin me-2'
                        : 'mdi mdi-login me-2 '
                    "
                  ></i>
                  <span>Enviar</span>
                </button>
              </div>
            </form>
          </div>
          <!-- end card-body-->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">
              Regresar a:
              <a routerLink="/login" class="text-muted ms-1"><b>Iniciar sesión</b></a>
            </p>
          </div>
          <!-- end col -->
        </div>
        <!-- end row -->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<div
  *ngIf="sendReset && succesReset"
  class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-4 col-lg-5">
        <div class="card">
          <!-- Logo -->
          <div class="card-header pt-4 pb-4 text-center">
            <span
              ><img src="assets/images/logo-dark.png" alt="" height="100"
            /></span>
          </div>

          <div class="card-body p-4">
            <div class="text-center m-auto">
              <img
                src="assets/images/mail_sent.svg"
                alt="mail sent image"
                height="64"
              />
              <h4 class="text-dark-50 text-center mt-4 fw-bold">
                Por favor revise su correo electrónico
              </h4>
              <p class="text-muted mb-4">
                Se ha enviado un correo electrónico a
                <b>{{ email }}</b
                >. Busque un correo electrónico y siga las instrucciones para
                restablecer su contraseña.
              </p>
            </div>

            <form action="index.html">
              <div class="mb-0 text-center">
                <a routerLink="#/login" class="btn btn-primary">
                  <i class="mdi mdi-keyboard-backspace me-1"></i> Iniciar sesión
                </a>
              </div>
            </form>
          </div>
          <!-- end card-body-->
        </div>
        <!-- end card-->
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
