<div *ngIf="conversationId === null && !showComentario">
  <div class="card">
    <!-- Logo -->
    <div class="pt-2 text-center bg-white">
      <img src="assets/images/logo-chat-blog.jpg" alt="" height="100px" />
    </div>

    <div class="card-body">
      <h4 class="text-dark-50 text-center p-0 fw-bold">Soporte</h4>
      <p class="text-muted mb-4">
        Ingrese su dirección de correo electrónico para iniciar una
        conversación.
      </p>

      <!-- form -->
      <form [formGroup]="chatForm" autocomplete="off" (ngSubmit)="iniciar()">
        <div class="mb-3">
          <label for="emailaddress" class="form-label">Correo: </label>
          <input
            class="form-control"
            type="email"
            id="emailaddress"
            placeholder="Introduce tu correo"
            formControlName="correo"
            [class.is-invalid]="correoNoValido"
          />
          <small *ngIf="correoNoValido" class="form-text text-danger"
            >Ingrese un correo valido</small
          >
        </div>
        <div *ngIf="showInputName" class="mb-3">
          <label for="nombreCliente" class="form-label">Nombre: </label>
          <input
            class="form-control"
            type="text"
            id="nombreCliente"
            placeholder="Introduce tu nombre"
            formControlName="nombre"
            [class.is-invalid]="nombreNoValido"
          />
          <small *ngIf="nombreNoValido" class="form-text text-danger"
            >Ingrese un nombre</small
          >
        </div>
        <small *ngIf="showError" class="form-text text-danger">{{
          messageError
        }}</small>
        <div class="d-grid mb-5 mt-4 text-center">
          <button
            class="btn btn-primary"
            [disabled]="chatForm.invalid || loading"
            type="submit"
          >
            <i
              [class]="
                loading ? 'mdi mdi-refresh mdi-spin me-2' : 'mdi mdi-chat me-2 '
              "
            ></i>
            <span>Iniciar chat</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="conversationId !== null && !showComentario">
  <div class="card">
    <div class="card-header" style="background-color: #dd3333">
      <div class="dropdown float-end" style="height: 15px">
        <a
          (click)="salirChat()"
          class="social-list-item border-white text-white"
          style="display: flex; cursor: pointer; justify-content: center"
          ><i class="uil uil-multiply"></i
        ></a>
      </div>
      <h2 class="header-title text-white mt-1">
        Chat {{ usuario?.nombre_completo || "BiblioChat Utn" }}
      </h2>
    </div>
    <div class="card-body" style="padding: 10px">
      <div
        class="container-scroll"
        #scrollChat
        style="min-height: 100%; height: 440px"
      >
        <div id="chat-messages" class="conversation-list">
          <div
            *ngFor="let activity of activities"
            [ngClass]="
              activity.from.id === usuario!.id ? 'clearfix odd' : 'clearfix'
            "
          >
            <br />
            <div class="chat-avatar">
              <div *ngIf="activity.from.id === usuario!.id">
                <div *ngIf="usuario?.foto">
                  <img
                    [src]="usuario?.foto"
                    [alt]="usuario?.nombres"
                    class="circleHeader"
                  />
                </div>
                <div
                  *ngIf="!usuario?.foto"
                  class="circle"
                  [ngStyle]="{
                    'background-color':
                      activity.from.id === usuario!.id
                        ? '#0DA1E6'
                        : activity?.color
                  }"
                >
                  <div class="initials">
                    {{
                      initialsName(
                        activity.from.id === usuario!.id
                          ? usuario?.nombre_completo
                          : activity.from?.name
                      )
                    }}
                  </div>
                </div>
              </div>
              <div *ngIf="activity.from.id !== usuario!.id">
                <div *ngIf="usuarioChat && usuarioChat?.id == activity.from.id">
                  <div *ngIf="usuarioChat?.foto">
                    <img
                      [src]="usuarioChat.foto"
                      [alt]="usuarioChat.nombres"
                      class="circleHeader"
                    />
                  </div>
                  <div
                    *ngIf="!usuarioChat?.foto"
                    class="circle"
                    [ngStyle]="{
                      'background-color': '#dd3333'
                    }"
                  >
                    <div class="initials">
                      {{ initialsName(usuarioChat.nombres) }}
                    </div>
                  </div>
                </div>

                <div
                  *ngIf="!usuarioChat || usuarioChat?.id != activity.from.id"
                >
                  <div
                    class="circle"
                    [ngStyle]="{
                      'background-color': '#dd3333'
                    }"
                  >
                    <div class="initials">
                      {{ initialsName(botName) }}
                    </div>
                  </div>
                </div>
              </div>

              <i>{{ localDate(activity.timestamp) | date : " HH:mm" }}</i>
            </div>
            <div class="conversation-text">
              <div class="ctext-wrap chat-widgets-cn">
                <i>{{
                  activity.from.id === usuario!.id
                    ? usuario!.nombre_completo
                    : activity.from.name || usuarioChat?.nombre_completo
                }}</i>
                <p>{{ activity.text }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form
        [formGroup]="mensageForm"
        (ngSubmit)="sendMessage()"
        class="needs-validation"
        novalidate=""
        name="chat-form"
        id="chat-form"
      >
        <div class="row">
          <div class="col">
            <input
              type="text"
              class="form-control chat-input"
              #txtmessage
              placeholder="Mensaje ..."
              formControlName="message"
            />
          </div>
          <div class="col-auto d-grid">
            <button
              type="submit"
              [disabled]="mensageForm.invalid"
              class="btn btn-info chat-send waves-effect waves-light"
            >
              <i class="uil uil-message"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- end chat area-->

  <!-- end user detail -->
</div>

<div *ngIf="showComentario">
  <div class="d-flex justify-content-center">
    <div
      class="card"
      style="position: fixed; min-height: 60%; max-height: 60%; min-width: 60%"
    >
      <!-- Logo -->
      <div class="pt-2 text-center bg-white">
        <img src="assets/images/logo-chat-blog.webp" alt="" height="100" />
      </div>

      <h4 class="text-dark-50 text-center p-0 fw-bold">Deja tu comentario</h4>
      <p class="text-muted p-2">
        Nos gustaria saber tu experiencia, al interactuar con nuestro servicio
        de chat.
      </p>
      <div class="d-flex justify-content-center">
        <div class="d-flex justify-content-around" style="width: 40%">
          <p
            [class]="emogiSelect == 2 ? 'border border-info rounded-2' : ''"
            style="font-size: 40px; cursor: pointer"
            (click)="calificacion(2)"
          >
            🙂
          </p>
          <p
            [class]="emogiSelect == 1 ? 'border border-info rounded-2' : ''"
            style="font-size: 40px; cursor: pointer"
            (click)="calificacion(1)"
          >
            😐
          </p>
          <p
            [class]="emogiSelect == 0 ? 'border border-info rounded-2' : ''"
            style="font-size: 40px; cursor: pointer"
            (click)="calificacion(0)"
          >
            🙁
          </p>
        </div>
      </div>

      <div class="card-body">
        <form
          [formGroup]="comentarioForm"
          autocomplete="off"
          (ngSubmit)="enviarComentario()"
        >
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea"
              formControlName="comentario"
              style="height: 100px"
            ></textarea>
          </div>
          <div class="d-grid mb-5 mt-4 text-center">
            <button
              class="btn btn-primary"
              [disabled]="comentarioForm.invalid || loading"
              type="submit"
            >
              <i
                [class]="
                  loading
                    ? 'mdi mdi-refresh mdi-spin me-2'
                    : 'mdi mdi-login me-2 '
                "
              ></i>
              <span>Enviar Comentario</span>
            </button>
          </div>
        </form>
      </div>

      <div class="row mt-3">
        <div class="col-12 text-center">
          <p class="text-muted">
            <a (click)="nuevaConversacion()" class="text-muted ms-1"
              ><b>Iniciar una nueva conversacion </b></a
            >
          </p>
        </div>
        <!-- end col -->
      </div>
    </div>
  </div>
</div>
