<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">

    <!-- LOGO -->
    <a routerLink="/dashboard" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo_biblioteca_UTN.png" alt="" height="36">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo-utn.png" alt="" height="26">
        </span>
    </a>

    <!-- LOGO -->
    <a routerLink="/dashboard" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">

        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title side-nav-item">Módulos</li>


            <li class="side-nav-item" *ngFor="let modulo of modulos">

                <a *ngIf="modulo.submenu.length>0" data-bs-toggle="collapse" [href]="'#'+modulo.nombre"
                    aria-expanded="false" aria-controls="sidebarMultiLevel" class="side-nav-link">
                    <i [class]="modulo.icon"></i>
                    <span> {{modulo.nombre}} </span>
                    <span class="menu-arrow"></span>
                </a>
                <div *ngIf="modulo.submenu.length>0" class="collapse" [id]="modulo.nombre">
                    <ul class="side-nav-second-level">
                        <li *ngFor="let submenu of modulo.submenu" class="side-nav-item">
                            <a (click)="getUsers(submenu.ruta)" data-bs-toggle="collapse" aria-expanded="false"
                                aria-controls="sidebarSecondLevel">
                                <span> {{submenu.nombre}} </span>
                            </a>
                        </li>

                    </ul>
                </div>

                <a *ngIf="modulo.submenu.length==0" [routerLink]="[modulo.ruta]" class="side-nav-link">
                    <i [class]="modulo.icon"></i>
                    <span> {{modulo.nombre}} </span>

                </a>

            </li>


        </ul>

        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
