<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">Inicio</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card widget-inline">
      <div class="card-body p-0">
        <div class="row g-0">
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-account-multiple" style="font-size: 24px"></i>

                <h3>
                  <span>{{ clientes.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Usuarios</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-account-key" style="font-size: 24px"></i>
                <h3>
                  <span>{{ usuarios.length || 0 }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Agentes</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-message-alert" style="font-size: 24px"></i>
                <h3>
                  <span>{{ chatsPerdidos }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Chats Perdidos</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i class="mdi mdi-message-bulleted" style="font-size: 24px"></i>
                <h3>
                  <span>{{ totalchatsAtendidos }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Total chats atendidos</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- end card-box-->
  </div>
  <!-- end col-->
</div>
<div class="row">
  <div class="col-xl-5 col-lg-6">
    <div class="card">
      <app-calificaciones></app-calificaciones>
    </div>
  </div>
  <div class="col-xl-7 col-lg-6">
    <!-- end col -->
    <div class="card card-h-100">
      <app-solicitudes></app-solicitudes>
      <!-- end col -->
    </div>
  </div>
</div>
<!-- end row -->
