<div class="row">
  <div class="col-12">
    <div class="page-title-box">
      <h4 class="page-title">Inicio</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card widget-inline">
      <div class="card-body p-0">
        <div class="row g-0">
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-account-multiple" style="font-size: 24px"></i>

                <h3>
                  <span>{{ clientes.length }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Usuarios</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-account-key" style="font-size: 24px"></i>
                <h3>
                  <span>{{ usuarios.length || 0 }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Agentes</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0 border-start">
              <div class="card-body text-center">
                <i class="mdi mdi-message-alert" style="font-size: 24px"></i>
                <h3>
                  <span>{{ chatsPerdidos }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Chats Perdidos</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl-3">
            <div class="card shadow-none m-0">
              <div class="card-body text-center">
                <i class="mdi mdi-message-bulleted" style="font-size: 24px"></i>
                <h3>
                  <span>{{ totalchatsAtendidos }}</span>
                </h3>
                <p class="text-muted font-15 mb-0">Total chats atendidos</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
    </div>
    <!-- end card-box-->
  </div>
  <!-- end col-->
</div>
<div class="row">
  <div class="col-xl-5 col-lg-6">
    <div class="card">
      <app-calificaciones></app-calificaciones>
    </div>
  </div>
  <div class="col-xl-7 col-lg-6">
    <!-- end col -->
    <div class="card card-h-100">
      <app-solicitudes></app-solicitudes>
      <!-- end col -->
    </div>
  </div>
</div>
<!-- end row -->

<!-- comments -->
<div class="row mt-3">
  <div class="col">
    <div class="card p-2">
      <div class="card-header p-0">
        <h5 class="mb-2 font-16">Comentarios {{ comentarios.length || 0 }}</h5>
      </div>
      <div class="card-body" style="height: 500px; overflow-y: scroll">
        <div *ngFor="let comentario of comentarios">
          <div class="d-flex mt-3 p-1">
            <img
              src="assets/images/avatar_user.png"
              class="me-2 rounded-circle"
              height="36"
              alt="Arya Stark"
            />
            <div class="w-100">
              <h5 class="mt-0 mb-0">
                <span class="float-end text-muted font-12">{{
                  localDate(comentario?.createdAt) | date : "EEE d MMM y HH:mm"
                }}</span>
                {{ comentario?.correo }}
              </h5>
              <p class="mt-1 mb-0 text-muted">
                {{ comentario?.contenido }}
              </p>
            </div>
          </div>
          <!-- end comment -->

          <hr />
        </div>
      </div>
    </div>
  </div>
  <!-- end col -->
</div>
<!-- end row -->
